@import "../../../assets/css/mixins";
@import "../../../assets/css/breakpoints";
@import "../../../assets/css/fonts";
@import "../../../assets/css/colors";

.Header {
 	position: fixed;
 	top: 0;
 	left: 0;
	width: 100%;
	z-index: 1000;
	transition: background-color 0.4s, box-shadow 0.4s;
}

.HeroVisible {
	box-shadow: 0 -5px 10px #000000;
	background-color: $white;
}

.Nav {
	transition: background-color 0.8s;

	.HeaderLogo {
		width: 100px;
	}

	@include responsive(tablet) {
		.HeaderLogo {
			width: 120px;
		}

		a {
			font-size: 1rem;
		}
	}

	@include responsive(sdesktop) {
		a {
			margin-right: 9px;
		}
	}

	@include responsive(desktop) {
		a {
			margin-right: 14px;
		}
	}

	@include responsive(ldesktop) {
		.HeaderLogo {
			width: 170px;
		}

		a {
			font-size: 1.1rem;
		}
	}
}

.NavAct {
	background-color: $white;
}

.NavToggler {
	background-color: $white;
	
	&:focus {
		box-shadow: none;
	}

	&:active {
		border: thin solid #33333350;
	}
}
