@import "../../../assets/css/mixins";
@import "../../../assets/css/breakpoints";
@import "../../../assets/css/fonts";
@import "../../../assets/css/colors";

.Header {
 	position: fixed;
 	top: 0;
 	left: 0;
	width: 100%;
	z-index: 1000;
	transition: background-color 0.4s, box-shadow 0.4s;
}

.HeroVisible {
	box-shadow: 0 -5px 10px #000000;
	background-color: $white;
}

.Nav {
	padding: 0;
	transition: background-color 0.8s;

	.HeaderLogo {
		width: 150px;
		height: 90px;
		background-image: url("../../../assets/images/atlantida-logo-173x110.png");
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	@include responsive(tablet) {
		.HeaderLogo {
			width: 173px;
			height: 110px;
		}

		a {
			font-size: 1rem;
		}
	}

	@include responsive(sdesktop) {
		a {
			margin-right: 9px;
		}
	}

	@include responsive(desktop) {
		a {
			margin-right: 14px;
		}
	}

	@include responsive(ldesktop) {
		padding-top: 4px;
		padding-bottom: 4px;

		.HeaderLogo {
			width: 250px;
			height: 117px;
			background-image: url("../../../assets/images/atlantida-logo.png");
		}

		a {
			font-size: 1.1rem;
		}
	}
}

.NavAct {
	background-color: $white;
}

.NavToggler {
	background-color: $white;
	
	&:focus {
		box-shadow: none;
	}

	&:active {
		border: thin solid #33333350;
	}
}
