@import "../../../assets/css/breakpoints";
@import "../../../assets/css/colors";

.Title {
  margin-top: 120px;
  text-align: center;
}

.ProductsContainer {
  padding: 1rem;
  
  .ProductCard {
    background-color: $white;
    margin-bottom: 3rem;
    text-align: center;
    overflow: hidden;

    img {
      max-width: 100%;
      object-fit: cover;
      object-position: center center;
      border-radius: 10px;
    }

    h2 {
      margin: 1.5rem 0 1rem;
    }

    p {
      text-align: initial;
      margin-bottom: 2.25rem;
    }
  }
}
