@import "../../../assets/css/breakpoints";
@import "../../../assets/css/colors";
@import "../../../assets/css/fonts";

.Error404 {
  font-family: $Roboto;
  min-height: 100vh;
  background-image: url("../../../assets/images/home_bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  color: $white;

  div {
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 3.75rem;
    margin-bottom: 0;
    font-weight: 700;
  }

  p {
    font-size: 1.25rem;
  }

  a {
    margin-top: 15px;
    font-size: 0.9375rem;
    background-color: $main-green;
    text-decoration: none;
    color: $white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: font-weight 0.5s, box-shadow 0.5s, transform 0.5s;

    &:hover {
      color: $white;
      font-weight: bold;
      box-shadow: 1px 1px 4px $white;
      transform: translateY(-1px);
    }
  }

  @include responsive(desktop) {
    a {
      font-size: 1rem;
    }
  }
}